# Ignore everything by default
*

# Keep this file tracked
!.gitignore
!GEMINI.md
!.bash_aliases
!sim
!simfull
!simnav

# Allow the requested workspaces
!ros2_ws/
!ros2_ws/**
!ross2_ws/
!ross2_ws/**
!robocon_ws/
!robocon_ws/**
!/gazabo/
!/gazabo/worlds/
!/gazabo/worlds/**
!/gazabo/models/
!/gazabo/models/**
!/gazabo/models/
!/gazabo/models/abu_stadium/
!/gazabo/models/abu_stadium/**
!/gazabo/models/abu_stadium/meshes/
!/gazabo/models/abu_stadium/meshes/*.stl

# Allow camera project
!my_camera_project/
!my_camera_project/**
# Ignore camera build artifacts
my_camera_project/build/
my_camera_project/install/
my_camera_project/log/

# Ignore ROS 2 build artifacts
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
robocon_ws/build/
robocon_ws/install/
robocon_ws/log/
