# Ignore everything by default
*

# Keep this file tracked
!.gitignore

# Allow the requested workspaces
!ros2_ws/
!ros2_ws/**
!ross2_ws/
!ross2_ws/**
!robocon_ws/
!robocon_ws/**
!gazabo/
!gazabo/models/
!gazabo/models/abu_stadium/
!gazabo/models/abu_stadium/meshes/
!gazabo/models/abu_stadium/meshes/*.stl

# Ignore ROS 2 build artifacts
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
robocon_ws/build/
robocon_ws/install/
robocon_ws/log/
